<html>
  <head>
  </head>

  <body>
    <h1>Match instance</h1>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/phaser-ce/2.10.3/phaser.js'></script>
    <script> const matchId = "<%= id %>"  </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src ='/static/Game/ClientMatch.js'></script>
    <script src ='/static/Game/SAT.js'></script>
    <script src ='/static/Game/Match.js'></script>
    <script src ='/static/Game/Game.js'></script>
    <script src ='/static/Game/Player.js'></script>
    <script src ='/static/Game/CreateFigure.js'></script>
    <script src ='/static/Game/Maker.js'></script>
    <script src ='/static/Game/Map.js'></script>
    <script src ='/static/Game/Collider.js'></script>
    <script src ='/static/Game/Shield.js'></script>

    <script>
      c = new ClientMatch()
      m = new Match(SAT)
    </script>
  </body>

</html>
